main[page="about"]{
    margin-top: 80px;
    position: relative;
    background-color: #111114;

    .bar{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        z-index: 1;
    }
    .section__first{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        .left-1{
            width: 30%;
            img{
                width: 100%;
                object-fit: cover;
            }
            h2{
                position: absolute;
                left: 125px;
                top: 164px;
                font-weight: bold;
                font-size: 53px;
                line-height: 64px;
                letter-spacing: 0.2px;
                font-family: "DIN-Bold.woff";
                color: white;
            }
        }
        .right-1{
            width: 70%;
            padding: 8rem;
            h5{
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 4rem;
            }
            p{
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 2rem;
            }
        }

        .left-2{
            width: 70%;
            padding: 8rem;
            h2{
                color: white;
                font-size: 53px;
                line-height: 64px;
                letter-spacing: 0.2px;
                margin-bottom: 4rem;
            }
            h5{
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 4rem;
            }
            p{
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 2rem;
            }
        }

        .right-2{
            width: 30%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .section__first_m{
        .about-1{
            position: relative;
            // background-color: #111114;
            display: flex;
            justify-content: flex-end;
            img{
                width: calc(100% - 8rem);
            }
            .box__wrapper{
                position: absolute;
                bottom: -1px;
                z-index: 10;
                left: 0;
                width: calc(100% - 8rem);
                h2{
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: 0.2px;
                    color: white;
                    padding-left: 4rem;
                }
                .box{
                    background-color: #111114;
                    padding: 4rem 4rem 2rem 4rem;
                    p{
                        color: #999999;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.2px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .about-1-1{
            padding: 4rem;
            background-color: #111114;
            p{
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.2px;
                color: #999999;
            }
        }
        .about-2{
            background-color: #111114;
            display: flex;
            img{
                width: 130px;
            }
            h2{
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.2px;
                color: white;
                padding-left: 2rem;
                padding-top: 2rem;
                padding-right: 2rem;
            }
        }
        .about-2-1{
            padding: 4rem;
            background-color: #111114;
            transform: translateY(-120px);
            margin-left: 4rem;
            p{
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.2px;
                color: #999999;

            }
        }
    }
}

main[page="kretekCollection"]{
    margin-top: 80px;
    .section__first{
        background-color: $color_lightBlack;
        position: relative;
        h2{
            font-size: 53px;
            line-height: 64px;
            letter-spacing: 0.2px;
            color: white;
            margin-bottom: 4rem;
            @include respond(down-tab-port){
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.2px;
            }
        }
        .product__item{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;
        }
        .tab-pane{
            position: relative;
        }
        .left{
            width: 47%;
            padding: 8rem;
            @include respond(down-tab-port){
                width: 100%;
                padding: 4rem;
            }
            .arrow{
                img{
                    width: 10px;
                    object-fit: contain;
                    margin: 0;
                    transform: rotate(90deg);
                }
            }
            img{
                width: 440px;
                margin-bottom: 4rem;
            }
            .cp{
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.2px;
                color: #999999;
                margin-bottom: 4rem;
            }
            form{
                select{
                    background-color: transparent;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    font-family: "DIN-Bold.woff";
                    color: white;
                    padding: 1.8rem;
                    margin-bottom: 1rem;
                    option{
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-family: "DIN-Bold.woff";
                        color: black;
                    }
                }
            }
            .cs-kretek{
                width: 350px;
                @include respond(down-tab-port){
                    width: unset;
                }

                .nav{
                    display: unset;
                    flex-wrap: unset;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                }

                .btn-collapse-cs{
                    font-size: 22px;
                    line-height: 19px;
                    letter-spacing: 0.2px;
                    color: white;
                    padding: 1.5rem 2rem;
                    border: 1px solid white;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    margin-bottom: 1rem;
                    font-family: 'DIN-Bold.woff';
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .collapse{
                    padding: 2rem;
                    @include respond(down-tab-port){
                        padding: 0rem;
                    }
                    .first_p{
                        margin-bottom: 2rem;
                    }
                    p{
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        color: #999999;
                    }
                }
                
                .product_item{
                    margin-bottom: 4rem;
                    .photo_product{
                        height: 255px;
                        position: relative;
                        margin-bottom: 4rem;
                        .bg{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                        .product{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .desc{
                        &-box{
                            border: 1px solid white;
                            padding: 4rem;
                            h4{
                                font-size: 26px;
                                line-height: 31px;
                                letter-spacing: 0.2px;
                                color: white;
                                margin-bottom: 2.5rem;
                            }
                            span{
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0.2px;
                                color: #999999;
                                margin-bottom: 2rem;
                                display: block;
                            }
                        }
                    }
                }
            }

        }
        .right{
            width: 53%;
            h5{
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 4rem;
            }
            p{
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.2px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 2rem;
            }

           .arrow_wrapper{
               position: absolute;
               top: 55%;
               left: 50%;
               transform: translateX(-50%);
               img{
                   width: 34px;
                   height: 34px;
                   object-fit: contain;
                   cursor: pointer;
                   &:first-child{
                       margin-right: 1rem;
                   }
               }
           }

            .default{
                .photo_product{
                    .product{
                        width: 101%;
                        left: 40%;
                    }
                }
            }

            .photo_product{
                height: 595px;
                position: relative;
                .bg{
                    height: 100%;
                    object-fit: cover;
                }
                .product{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    // width: 200px;
                    object-fit: contain;
                }
            }
            a{
                text-decoration: none;
            }
            .desc{
                padding: 4rem;
                background-color: black;
                &-box{
                    border: 1px solid white;
                    padding: 4rem;
                    text-transform: uppercase;
                    h4{
                        font-size: 26px;
                        line-height: 31px;
                        letter-spacing: 0.2px;
                        color: white;
                        margin-bottom: 4rem;
                    }
                }
            }
        }

    }
}

main[page="testimonials"]{
    margin-top: 80px;
    .section__first{
        background-color: $color_lightBlack;
        padding-bottom: 10rem;

        .iframe-yt{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            display: none;
            &.open{
                display: block;
            }

            .close-yt{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2rem;
                cursor: pointer;
                z-index: 2;
                width: 30px;
            }
        }
        h2{
            font-size: 53px;
            line-height: 64px;
            letter-spacing: 0.2px;
            color: white;
            padding-left: 8rem;
            padding-top: 8rem;
            padding-bottom: 4rem;
        }
        .testimonials__item{
            display: flex;
            flex-wrap: wrap;
            @include respond(down-tab-port){
                min-height: 500px;
            }
            &:not(:last-child){
                margin-bottom: 10rem;
                @include respond(down-tab-port){
                    margin-bottom: 5rem;
                }
            }
            .left{
                width: 50%;
                position: relative;
                @include respond(down-tab-port){
                    width: 75%;
                    height: 280px;
                }
                img{
                    width: 100%;
                }
                .play-yt{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    cursor:pointer;
                    width: 50px;
                    object-fit: contain;
                }

            }
            .right{
                width: 50%;
                position: relative;
                @include respond(down-tab-port){
                    width: 25%;
                    height: 280px;
                }
                .box__wrapper{
                    background-color: black;
                    padding: 2rem;
                    width: 60%;
                    position: absolute;
                    left: -13%;
                    bottom: 5rem;
                    z-index: 2;
                    @include respond(down-tab-port){
                        width: 294%;
                        left: unset;
                        right: 0;
                        position: absolute;
                        top: 60%;
                        height: fit-content;
                    }
                    &.even-bw{
                        left: unset;
                        right: -13%;
                        @include respond(down-tab-port){
                            left: 0;
                            right: unset;
                        }
                    }
                    .border-box{
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        padding: 2rem;
                        p{
                            font-size: 2rem;
                            line-height: 23px;
                            text-align: right;
                            letter-spacing: 0.2px;
                            color: #999999;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                        }
                        h4{
                            font-size: 2rem;
                            line-height: 23px;
                            text-align: right;
                            letter-spacing: 0.2px;
                            color: $color_red;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 700;
                        }
                    }
                }
            }
        }


    }
}

main[page="store"]{
    margin-top: 80px;
    .section__first{
        .filter_wrapper{
            padding-top: 8rem;
            position: relative;
            background-color: #111114;
            .bg{
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                @include respond(down-tab-port){
                    width: 75%;
                }
            }
            .filter-map{
                position: relative;
                z-index: 2;
            }
            h2{
                font-size: 53px;
                line-height: 64px;
                letter-spacing: 0.2px;
                color: white;
                text-align: center;
                @include respond(down-tab-port){
                    margin-bottom: 0;
                }
            }
            form{
                width: 100%;
                padding: 4rem 16rem;
                @include respond(down-tab-port){
                    padding: 4rem;
                }
                .column{
                    display: flex;
                    justify-content: space-between;
                    @include respond(down-tab-port){
                        flex-direction: column;
                    }
                    select{
                        background-color: transparent;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-family: "DIN-Bold.woff";
                        color: white;
                        padding: 1.8rem;
                        margin-bottom: 0rem;
                        &:nth-child(2){
                            margin: 0 1rem;
                            @include respond(down-tab-port){
                                margin: 0;
                            }
                        }
                        option{
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                            font-family: "DIN-Bold.woff";
                            color: black;
                        }
                    }
                }
                .btn-search-now{
                    background-color: $color_red;
                    color: white;
                    box-shadow: none;
                    border: none;
                    width: 100%;
                    font-family: "DIN-Bold.woff";
                    font-size: 2rem;
                    padding: 1rem 0;
                    margin-top: 1rem;
                }
            }
        }

        .map--search{
            height: 500px;
            img{
                // width: 100%;
                // height: 100%;
                // object-fit: cover;
            }
        }
    }

}

main[page="contact"]{
    margin-top: 80px;
    .section__first{
        background-color: $color_lightBlack;
        display: flex;
        padding: 8rem;
        padding-bottom: 10rem;
        @include respond(down-tab-port){
            padding: 4rem;
        }
        h2{
            color: white;
            font-size: 53px;
            line-height: 64px;
            letter-spacing: 0.2px;
            @include respond(down-tab-port){
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.2px;
            }
        }

        h4{
            color: $color_red;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.2px;
            margin-bottom: 2rem;
            @include respond(down-tab-port){
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.2px;
            }
        }

        p{
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.2px;
            color: #999999;
            @include respond(down-tab-port){
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.2px;
                margin-bottom: 4rem;
            }
            span{
                img{
                    width: 32px;
                    object-fit: contain;
                    @include respond(down-tab-port){
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }

        form{
            input{
                background-color: transparent;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.2px;
                font-family: "DIN-Bold.woff";
                color: white;
                padding: 1.8rem;
                margin-bottom: 0rem;
                @include respond(down-tab-port){
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }
                &::placeholder{
                    color: white;
                }
            }

            textarea{
                background-color: transparent;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.2px;
                font-family: "DIN-Bold.woff";
                color: white;
                padding: 1.8rem;
                margin-bottom: 0rem;
                @include respond(down-tab-port){
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }
                &::placeholder{
                    color: white;
                }
            }

            .btn-submit{
                background-color: $color_red;
                color: white;
                box-shadow: none;
                border: none;
                width: 100%;
                font-family: "DIN-Bold.woff";
                font-size: 2rem;
                padding: 1rem 0;
                margin-top: 1rem;

                @include respond(down-tab-port){
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}

main[page="kretek-detail"]{
    margin-top: 8rem;
    .section__first{
        padding: 12rem 8rem 0 8rem;
        background-color: $color_lightBlack;
        position: relative;
        .bg-kretek-detail{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 35%;
            height: 100%;
            object-fit: cover;
        }

        .product-detail{
            background-color: $color_red;
            display: flex;
            padding: 6rem 4rem;
            position: relative;
            .left{
                width: 50%;
                position: relative;
                .box{
                    width: 350px;
                    border: 1px solid white;
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    padding-left: 2.5rem;
                    padding-right: 15rem;
                    position: relative;
                    p{
                        color: white;
                    }

                    .pr-img{
                        position: absolute;
                        right: -60%;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 300px;
                        object-fit: contain;
                    }
                }
            }
            .right{
                width: 50%;
                padding: 2rem 8rem;

                .img2{
                    position: absolute;
                    top: -67px;
                    width: 300px;
                    object-fit: contain;
                }

                h2{
                    font-size: 60px;
                    line-height: 50px;
                    letter-spacing: 0.2px;
                    color: white;
                    margin-bottom: 3rem;
                }

                p{
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.2px;
                    color: white;
                }

                .desc{
                    margin-bottom: 6rem;
                }

                .to-other{
                    background-color: black;
                    font-size: 20px;
                    line-height: 24px;
                    text-decoration: none;
                    color: white;
                    display: block;
                    padding: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "DIN-Bold.woff";
                }
            }
        }
    }

    .section__firstM{
        background-color: $color_lightBlack;

        .logo-wrapper{
            padding: 4rem 4rem 8rem 4rem;
        }

        .product-detail{
            height: 320px;
            position: relative;
            .bg{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .red-box{
                background-color: $color_red;
                position: absolute;
                top: -22px;
                width: calc(100% - 4rem);
                left: 50%;
                transform: translateX(-50%);
                padding: 2rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 208px;
                .left{
                    width: 50%;
                    h2{
                        font-size: 40px;
                        line-height: 40px;
                        letter-spacing: 0.2px;
                        color: white;
                        margin-bottom: 4rem;
                    }
                    .box{
                        width: 120%;
                        border: 1px solid white;
                        padding: 2rem;
                        position: relative;
                        p{
                            color: white;
                            font-size: 18px;
                            line-height: 21px;
                            letter-spacing: 0.2px;
                        }

                        .pr-img{
                            position: absolute;
                            right: -60%;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 300px;
                            object-fit: contain;
                        }
                    }
                }
                .right{
                    width: 50%;
                    position: relative;
                    .pr-img{
                        position: absolute;
                        width: 150px;
                        bottom: 0;
                    }

                }
            }
        }

        .product-desc{
            padding: 2rem;
            p{
                color: #999999;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.2px;
            }
        }
    }
}

main[page="inspiration"]{
    .section__first{
        margin-top: 8rem;
        padding: 8rem;
        background-color: $color_lightBlack;
        @include respond(down-tab-port){
            padding: 4rem;
        }
        h2{
            font-size: 53px;
            line-height: 64px;
            letter-spacing: 0.2px;
            color: white;
            margin-bottom: 4rem;
        }

        .content-detail{
            .minutes{
                color: white;
                font-size: 13.0817px;
                letter-spacing: 0.373762px;
                margin-bottom: 5rem;
                display:block;
            }
            .date{
                color: white;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.35618px;
                margin-bottom: 3rem;
                display:block;
            }
            h2{
                margin-bottom: 0;
            }
            p{
                color: white;
            }
        }

        .mb-2rem{
            margin-bottom: 2rem;
        }

        .mb-5rem{
            margin-bottom: 5rem;
        }

        .inspiration__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .inspiration__item{
            height: calc(609px / 2);
            position: relative;
            @include respond(down-tab-port){
                padding-right: 0rem;
                height: 300px;
            }

            &.big{
                height: 629px;
                padding-right: 2rem;
                @include respond(down-tab-port){
                    padding-right: 0rem;
                    height: 300px;
                }
            }
            &.box-list{
                width: 32%;
                @include respond(down-tab-port){
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .box_inspiration{
                background-color: $color_red;
                position: absolute;
                bottom: 0;
                padding: 2rem;
                width: 40%;
                height: 100%;
                @include respond(down-tab-port){
                    width: 100%;
                    height: unset;
                }
                &.big{
                    padding-right: 15rem;
                    width: 60%;
                    height: unset;
                    @include respond(down-tab-port){
                        width: 100%;
                        padding-right: 0rem;
                    }
                }
                h2{
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0.2px;
                    color: white;
                    margin-bottom: 1rem;
                    @include respond(down-tab-port){
                        font-size: 32px;
                        line-height: 30px;
                        letter-spacing: 0.2px;
                    }
                }
                p{
                    font-size: 11px;
                    line-height: 13px;
                    letter-spacing: 0.35618px;
                    color: white;
                }
            }
        }

    }
}