menu{
    padding: 0 4rem;
    background-color: $color_lightBlack;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    min-height: 80px;
    z-index: 99;
    @include respond(down-tab-port){
        padding: 0 4rem;
    }
    img{
        object-fit: contain;
    }
    a{
        img{
            width: 200px;
        }
    }
}

header{
    margin-top: 80px;
    background-color: $color_lightBlack;
    position: relative;
    @include respond(down-tab-port){
        height: unset;
    }
    .header_slider{
        height: 100%;
        overflow: hidden;
        .slick-list,
        .slick-track {
            height: 100%;
        }
        .slick-slide>div{
            height: 100%;
        }
        &_item{
            height: 100%;
            padding-left: 13.4rem;
            position: relative;
            @include respond(down-tab-port){
                padding: 0;
            }
            img{
            }
            .bg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include respond(down-tab-port){
                    transform: translateY(-51px);
                }
            }
            .img_on_bg{
                position: absolute;
                width: 540px;
                height: 435px;
                left: 43px;
                top: calc(133px - 80px);
                object-fit: contain;
                @include respond(down-tab-port){
                    width: 360px;
                    left: 25px;
                    top: 315px;
                    object-fit: contain;
                }
            }
            
        }
    }
    .box_banner{
        display: flex;
        width: calc(352px + 473.32px);
        height: 330px;
        position: absolute;
        bottom: 0;
        right: 8rem;
        @include respond(down-tab-port){
            flex-direction: column;
            position: relative;
            z-index: 10;
            bottom: 0;
            right: 0;
            height: fit-content;
            width: 100%;
            height: 500px;
            padding: 4rem;
        }
        .left{
            width: 40%;
            @include respond(down-tab-port){
                width: 100%;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                @include respond(down-tab-port){
                    height: 180px;
                }
            }
        }
        .right{
            width: 60%;
            background-color: $color_red;
            padding: 5.4rem;
            @include respond(down-tab-port){
                width: 100%;
                padding: 2.5rem;
            }
            h3{
                color: white;
                font-size: 3.6rem;
                line-height: 50px;
                letter-spacing: 0.2px;
                @include respond(down-tab-port){
                    line-height: 35px;
                    font-size: 2.6rem;
                }
            }
        }
    }
    .slide-indicator{
        position: absolute;
        right: 2rem;
        top: 20%;
        ul{
            padding: 0;
            padding-right: 2rem;
            padding-top: 4rem;
            border-right: 1px solid #4D4D4D;
            li{
                list-style: none;
                color: white;
                font-family: "DIN-Bold.woff";
                font-size: 2rem;
                margin-bottom: 2.5rem;
                &.active{
                    color: #ffffffab;
                }
            }
        }
    }
}

.menu__showcase{
    padding: 4rem;
    background-color: $color_lightBlack;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: 0.2s all ease-in;

    &.show-menu{
        right: 0%;
    }

    .box{
        border: 1px solid white;
        padding: 4rem;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn-close{
            position: absolute;
            top: 33px;
            right: 33px;
            width: 26px;
            height: 26px;
            object-fit: contain;
            cursor: pointer;
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                margin-bottom: 1.5rem;
                a{
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 28px;
                    letter-spacing: 0.3px;
                    color: white;
                    font-family: "DIN-Bold.woff";
                }
            }
        }
        .lang{
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.3px;
                font-family: "DIN-Bold.woff";
            }
            .lang-init{
                color: $color_red;
            }
            p{
                color: white;
                margin-bottom: 0;
                font-family: "DIN-Bold.woff";
                margin: 0 1rem;
            }
            .btn-search{
                margin-left: 2.5rem;
                width: 19px;
                height: 19px;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
}

.confirmation__wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
    .confirmation{
        width: 55%;
        height: 65%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include respond(down-tab-port){
            width: 90%;
            height: 45%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include respond(down-tab-port){
                width: 100%;
                padding: 1rem;
            }
            h3{
                color: white;
                font-size: 32px;
                text-align: center;
                line-height: 38px;
                letter-spacing: 0.3px;
                margin-bottom: 5rem;
                @include respond(down-tab-port){
                    font-size: 23px;
                    line-height: 28px;
                }
            }
            h4{
                font-size: 26px;
                line-height: 31px;
                text-align: center;
                letter-spacing: 0.3px;
                color: white;
                margin-bottom: 3.5rem;
                @include respond(down-tab-port){
                    line-height: 14px;
                    text-align: center;
                }
            }

            .btn_wrapper{
                display: flex;
                justify-content: space-between;
                button{
                    width: 170px;
                    padding: 0.5rem 0;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    background-color: $color_red;
                    color: white;
                    box-shadow: none;
                    border: none;
                    font-family: "DIN-Bold.woff";
                    @include respond(down-tab-port){
                        font-size: 15px;
                        margin: 1rem;
                    }
                }
                .btn-yes{

                }
                .btn-no{

                }
            }
        }
    }
}


.v-img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

main[page="home"]{
    padding-top: 8rem;
    background-color: $color_lightBlack;
    .section__first{
        padding-left: 13.4rem;
        padding-right: 8.4rem;
        padding-bottom: 17rem;
        position: relative;
        @include respond(down-tab-port){
            padding-left: 4rem;
            padding-right:4rem;
            padding-bottom: 4rem;
        }
        .smoke_bg{
            position: absolute;
            top: 58%;
            left: 0;
            z-index: 0;
            transform: translateY(-50%);
            img{
                object-fit: contain;
                transform: rotateY(180deg);
                width: 100%;
            }
        }
        .title__sf{
            margin-bottom: 2rem;
            position: relative;
            h2{
                font-size: 6.5rem;
                line-height: 60px;
                color: white;
                margin-bottom: 0;
                @include respond(down-tab-port){
                    font-size: 4rem;
                    line-height: 40px;
                    letter-spacing: 0.2px;
                }
                span{
                    color: $color_red;
                }
            }
        }

        .box__sf{
            display: flex;
            align-items:flex-start;
            align-content:flex-start;
            position: relative;
            z-index: 2;
            @include respond(down-tab-port){
                flex-direction: column;
            }
            .left{
                width: 42%;
                height: 490px;
                position: relative;
                @include respond(down-tab-port){
                    width: 100%;
                    height: unset;
                }
                .box_red{
                    background-color: $color_red;
                    width: 259px;
                    height: 280px;
                    position: absolute;
                    right: 0;
                    bottom: -160px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                    padding-right: 4rem;
                    text-align: end;
                    @include respond(down-tab-port){
                        width: 262px;
                        bottom: 0px;
                        height: fit-content;
                    }
                    h4{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        color: white;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                        @include respond(down-tab-port){
                            font-size: 1.4rem;
                        }
                    }
                    p{
                        margin-bottom: 0;
                        color: white;

                    }
                    a{
                        color: white;
                        font-family: "DIN-Bold.woff";
                        font-size: 2.8rem;
                        line-height: 34px;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include respond(down-tab-port){
                        height: 220px;
                    }
                }
            }
            .right{
                width: 58%;
                height: auto;
                background-color: black;
                padding: 4.1rem;

                transform: translateX(-4rem);
                position: relative;
                top: 8rem;
                @include respond(down-tab-port){
                    width: 100%;
                    padding: 2rem;
                    transform: unset;
                    top: unset;
                    position: unset;
                }
                .caption{
                    padding: 4.1rem;
                    border: 1px solid #313131;
                    margin-bottom: 4rem;
                    @include respond(down-tab-port){
                        padding: 2rem;
                    }
                    h3{
                        color: white;
                        font-size: 2.8rem;
                        line-height: 34px;
                        @include respond(down-tab-port){
                            font-size: 2.2rem;
                            line-height: 26px;
                        }
                    }
                    .kutip-l{
                        display: inline-block;
                        margin-bottom: 4rem;
                    }
                    .kutip-r{
                        margin-top: 4rem;
                    }
                }
                .read_all_testimonials{
                    background-color: $color_red;
                    color: white;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: "DIN-Bold.woff";
                    padding: 0.5rem;
                    text-align: center;
                }
                .video_yt{
                    margin-top: 8rem;
                }
            }
        }
    }

    .section__second{
        overflow: hidden;
        padding: 5rem 0;
        position: relative;
        @include respond(down-tab-port){
            padding-top: 0;
        }
        .titleM{
            color: white;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.2px;
            text-align: center;
        }
        .v-img{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            bottom: 0;
            z-index: 1;
            width: 100%;
        }
        .slider__products{
            padding-left: 8rem;
            display: flex;
            position: relative;
            z-index: 2;
            @include respond(down-tab-port){
                padding: 4rem;
            }
            &-item{
                padding-top: 5rem;
                @include respond(down-tab-port){
                    padding-top: 0;
                }
                .item__wrapper{
                    width: 900px;
                    @include respond(down-tab-port){
                        width: unset;
                    }
                }
                .box{
                    height: 549px;
                    width: 600px;
                    position: relative;
                    @include respond(down-tab-port){
                        width: 100%;
                        height: 340px;
                        margin-bottom: 4rem;
                    }
                    .bg{
                        height: 100%;
                        object-fit: cover;
                    }
                    .title{
                        font-size: 5.3rem;
                        line-height: 64px;
                        letter-spacing: 0.2px;
                        color: white;
                        position: absolute;
                        top: -40px;
                        left: 80px;
                    }
                    .product{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 203px;
                        object-fit: contain;
                        @include respond(down-tab-port){
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                         }
                    }
                    .description{
                        width: 350px;
                        height: 358px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: - calc(377px / 2);
                        border: 1px solid #999999;
                        padding: 4rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        @include respond(down-tab-port){
                            padding: 1rem;
                        }
                        p{
                            color: white;
                            font-size: 19px;
                            line-height: 22px;
                            letter-spacing: 0.2px;
                            color: #999999;
                            margin-bottom: 4rem;
                        }
                        .to_all_products{
                            background-color: $color_red;
                            color: white;
                            display: block;
                            width: 100%;
                            text-decoration: none;
                            font-size: 20px;
                            line-height: 24px;
                            font-family: "DIN-Bold.woff";
                            padding: 0.5rem;
                            text-align: center;
                        }
                    }
                }

                .description{
                    @include respond(down-tab-port){
                        padding: 0.5rem;
                    }
                    h3{
                        font-size: 36px;
                        line-height: 43px;
                        letter-spacing: 0.2px;
                        color: white;
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                    p{
                        color: #999999;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        margin-bottom: 3rem;
                    }
                    .to_all_products{
                        background-color: $color_red;
                        color: white;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        font-size: 20px;
                        line-height: 24px;
                        font-family: "DIN-Bold.woff";
                        padding: 0.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .asep-img{
            position: absolute;
            bottom: 0;
            right: 0;
        }

    }

    .section__third{
        display: flex;
        @include respond(down-tab-port){
            flex-direction: column;
        }
        .left{
            width: 35%;
            background-color: black;
            padding: 8rem;
            @include respond(down-tab-port){
                width: 100%;
                padding: 4rem;
                background: linear-gradient(90deg, rgb(0, 0, 0) 70%, rgba(219, 219, 219, 0) 30%);
            }
            h3{
                font-size: 5.3rem;
                line-height: 64px;
                letter-spacing: 0.2px;
                color: white;
                margin-bottom: 6.6rem;
                @include respond(down-tab-port){
                    font-size: 40px;
                    line-height: 48px;
                }
            }
            form{
                select{
                    background-color: transparent;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    font-family: "DIN-Bold.woff";
                    color: white;
                    padding: 1.8rem;
                    margin-bottom: 1rem;
                    option{
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-family: "DIN-Bold.woff";
                        color: black;
                    }
                }
            }
            .btn-search-now{
                background-color: $color_red;
                color: white;
                box-shadow: none;
                border: none;
                width: 100%;
                font-family: "DIN-Bold.woff";
                font-size: 2rem;
                padding: 0.5rem 0;
                margin-top: 1rem;
            }
        }

        .right{
            width: 65%;
            @include respond(down-tab-port){
                width: 100%;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
            #googleMap{
                @include respond(down-tab-port){
                    height: 500px !important;
                }
            }
        }
    }

    .section__fourth{
        padding: 8rem;
        background-color: black;
        @include respond(down-tab-port){
            padding: 4rem;
        }
        .sf-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;
            h2{
                font-family: "DIN-Bold.woff";
                font-size: 53px;
                color: white;
                line-height: 64px;
                letter-spacing: 0.2px;
                margin-bottom: 0;
                 @include respond(down-tab-port){
                    font-size: 40px;
                    line-height: 48px;
                 }
            }
            p{
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: $color_red;
                margin-bottom: 0;
            }
        }

        .inspiration__wrapper{
            // display: flex;
            // justify-content: space-between;
            @include respond(down-tab-port){
                flex-wrap: wrap;
            }
            .ins-box{
                width: 401px;
                height: 355px;
                position: relative;

                @include respond(down-tab-port){
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                     @include respond(down-tab-port){
                        width: 100%;
                        object-fit: cover;
                     }
                }
                .box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    padding: 2rem;
                    border: 1px solid white;
                    width: calc(100% - 4rem);
                    height: calc(100% - 4rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    span{
                        font-size: 9.34406px;
                        line-height: 11px;
                        letter-spacing: 0.373762px;
                        font-family: 'DIN-Bold.woff';
                        color: white;
                    }
                    p{
                        font-size: 13.0817px;
                        line-height: 15px;
                        letter-spacing: 0.373762px;
                        color: white;
                        margin-bottom: 4rem;
                    }
                    a{
                        width: fit-content;
                        background: $color_red;
                        text-decoration: none;
                        color: white;
                        padding: 2rem 1rem;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.373762px;
                        display: block;
                        font-family: "DIN-Bold.woff";
                        @include respond(down-tab-port){
                            font-size: 18.6881px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

}