footer{
    padding: 4rem 6.7rem;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    @include respond(down-tab-port){
        padding: 2rem;
    }
    .left{
        width: 50%;
        padding-right: 20rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         @include respond(down-tab-port){
             width: 100%;
             padding: 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
        .get{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            @include respond(down-tab-port){
                text-align: center;
            }
            h3{
                color: white;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 0.2px;
                font-family: "DIN-Bold.woff";
                margin-right: 8rem;
                margin-bottom: 0;
            }

        }
        a{
            color: white;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin-bottom: 0;
            text-decoration: none;
            font-family: "DIN-Bold.woff";
            span{
                margin-left: 1rem;
            }
        }
        .kretek{
            margin-bottom: 1.5rem;
        }
        p{
            color: white;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.2px;
            font-weight: 300;
            @include respond(down-tab-port){
                text-align: center;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.2px;
            }
        }

        .copyright{
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.2px;
            color: white;
        }

        .term{
            padding-left: 0;
            margin-bottom: 2rem;
            li{
                list-style: none;
                display: inline-block;
                margin-right: 1rem;
                a{
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }

    .right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
        ul{
            margin-bottom: 0;
            padding-left: 0;
            li{
                list-style: none;
                &:not(:last-child){
                    margin-bottom: 0rem;
                }
                a{
                    font-family: "DIN-Bold.woff";
                    text-decoration: none;
                    color: white;
                    font-size: 2.2rem;
                    line-height: 31px;
                    letter-spacing: 0.2px;
                }
                p{
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                    color: white;
                }
            }
        }
    }

    .copyright{
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color: white;
        @include respond(down-tab-port){
            text-align: center;
        }
    }
}