// color

$color_lightBlack   :#111114;
$color_black        :#000000;
$color_red          :#ED1C24;
$color_darkRed      :#c7181e;
$color_blue         :#268BCD;



.color-white{
    color: white;
    span{
        margin-left: 10px;
    }
} 